/* RESET */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* GENERAL*/
body {
    background-color: #F6F8F9
}

/* HEAD */
header {
    height: 100px;
    background-color: white;
}

h1,
img {
    vertical-align: middle;
}

h1 {
    font-size: 60px;
    display: inline-block;
}

img {
    height: 100px;
    padding: 15px;
}

/* MAIN */
.container-up,
.container-down {
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 5px;
}

.container-up {
    margin-top: 40px;
    border-radius: 5px;
}

.add-bottom-right,
.add-bottom-left {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.add-bottom-left {
    color: white;
    background-color: #47ADF1;
    margin-left: 60px;
}

.add-bottom-right {
    border: 1px solid lightgrey;
    color: #C7CDD2;
    background-color: white;
}

.container-down {
    margin-top: 4px;
}

.sec-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

ul {
    padding-left: 80px;
    list-style: none;
}

.check,
.cross {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.check {
    border: 1px solid green;
    color: green;
}

.cross {
    border: 1px solid red;
    color: red;
}

.text-li {
    font-size: 20px;
}

.space-bottom {
    margin-bottom: 20px;
}

.ul-special {
    padding-left: 5px;
}

.special-bottoms-uno,
.special-bottoms-due,
.special-bottoms-tre,
.special-bottoms-quattro,
.special-bottoms-cinque,
.special-bottoms-sei {
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.special-bottoms-uno {
    background-color: #47ADF1;
}

.special-bottoms-due {
    background-color: #9C72E4;
}

.special-bottoms-tre {
    background-color: #64C0A9;
}

.special-bottoms-quattro {
    background-color: #F29E33;
}

.special-bottoms-cinque {
    background-color: #D863A1;
}

.special-bottoms-sei {
    background-color: #B0C926;
}